

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Détails de l'agent</title>
</head>
<body>


# je créer le contenu qui affichera les informations de chacun des agents #}

<main>
    <ol>
        <li><h1>{{ agent.firstName }} {{ agent.lastName }}</h1></li>
        <li><h2>L'age de l'agent est : {{ agent.age }} ans</h2></li>
    </ol>
</main>



</body>
</html>
