
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Informations sur les agents de la Piscine !!!</title>
</head>
<body>


<main>

    {% for agent in agentsTwig %}

        {# je créer la condition qui affiche les agents si "published" == true #}
        {# sinon je n'affiche rien #}

        {% if agent.published %}
            {# j'interroge les id de chaque agent, j n'affiche que les published == true  #}
            <p>
                <a href="{{ path('agent_show', {'id': agent.id}) }}">{{ agent.firstName }} {{ agent.lastName }}</a>
            </p>

        {% endif %}

    {% endfor %}

</main>

</body>
</html>