<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Article</title>


</head>
<body>

{# "je suis une commentaire"  :  j'affiche la variable monArticle, envoyée depuis le controller #}

<h1>{{ monArticle }}</h1>

<p>
    Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée<br /> à titre
    provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte<br />
    dès qu'il est prêt ou que la mise en page est achevée. Généralement, on utilise un texte en faux
    latin,<br />le Lorem ipsum ou Lipsum.

</p>


</body>
</html>