<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Informations de l'utilisateur Noël</title>


</head>
<body>

{# "j'affiche la variable monArticle, envoyée depuis le controller #}


{# pour accéder au clé d'un tableau on met un . #}
{% if profile.active %}
    <h1>{{ profile.firstname}} {{ profile.name }}</h1>
    <h2>{{ profile.age}}</h2>
    <p>Le métier de cette personne est {{ profile.job }}</p>
{% else %}
    <h1>pas connecté</h1>
{% endif %}

</body>
</html>