<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Informations de l'utilisateur Noël</title>


</head>
<body>

<ol>
{# pour chaque kill dans l'array skills #}
{% for skill in skills %}
    <li>{{ skill }}</li>
{% endfor %}
</ol>


</body>
</html>

